@page "/artworks/create"
@using System
@using System.IO
@inject HttpClient Http
@inject IConfiguration config

<h2>Create new artwork</h2>

<EditForm Model="newArtwork">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Author Id</span>
        <InputText class="form-control" @bind-Value=newArtwork.AuthorId ParsingErrorMessage="Must be a date" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        <InputText class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" @bind-Value=newArtwork.Title ParsingErrorMessage="Must be a date" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
        <InputTextArea class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" @bind-Value=newArtwork.Description ParsingErrorMessage="Must be a date" />
    </div>

    <div class="input-group mb-3">
        <InputFile OnChange=@LoadFiles class="form-control" accept=".png, .jpg, .jpeg" />
    </div>

    @if (errors.Count > 0)
    {
        <h2>Errors</h2>
        <ul class="text-danger">
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>
    }

    <button @onclick="() => AddNewArtwork(newArtwork)"
            type="submit" class="btn btn-primary mt-3">
        Create artwork
    </button>
</EditForm>

@code{
    NewArtwork newArtwork = new NewArtwork();

    private IBrowserFile? file;
    private long maxFileSize = 1024 * 1024 * 3;
    private int maxAllowedFiles = 3;
    private List<string> errors = new();

    class NewArtwork
    {
        public string AuthorId { get; set; }
        public string Title { get; set; }
        public string? Description { get; set; }
        public IFormFile Image { get; set; }
    }

    async Task AddNewArtwork(NewArtwork artwork)
    {
        var json = JsonSerializer.Serialize(artwork);
        await Http.PostAsJsonAsync("api/artworks"+$"/{artwork.AuthorId}", artwork);
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        file = e.File;

    }

}