@page "/"
@inherits ArtworksBase

@if(Artworks == null)
{
    <h3>Loading artworks...</h3>
}
else
{
    <h3 class="mb-5">Products</h3>

    var artworksCount = Artworks.Count();

    @if (artworksCount > 0)
    {
        const int artworksPerRow = 4;
        var artworksRowList = new List<ArtworkDto>();

        @for (int i = 0; i < artworksPerRow; i++)
        {
            artworksRowList = Artworks.Skip(i * artworksPerRow).Take(artworksPerRow).ToList();

            <div class="row mt-3">

                @foreach (var item in artworksRowList)
                {
                    <div class="col-md-3 mb-2">
                        <a href="#">
                            <div class="card">
                                <img class="img-thumbnail" src="@item.ImagePath">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">
                                        @item.Name
                                    </h5>
                                    <p class="card-text">
                                        @item.Description
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>
        }
    }

}