@page "/login"

<h3>LoginPage</h3>

<EditForm Model="_user" OnValidSubmit="Login">


    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
</EditForm>

@code {

}
